Repository cossacklabs/acra, pull requests merged in 2018-07, with the labels that each got.

#192 mysql prepared statements
  .circleci/config.yml
  acra-censor/acra-censor_test.go
  acra-censor/handlers/querycapture_handler.go
  cmd/acra-connector/acra-connector.go
  cmd/acra-server/client_session.go
  cmd/acra-server/listener.go
  cmd/utils.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  network/secure_session_wrapper.go
  tests/requirements.txt
  tests/test.py
Labels: acra-server, mysql, tests

#193 Using JSON line format for QueryCapture
  acra-censor/acra-censor_interfaces.go
  acra-censor/acra-censor_test.go
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/querycapture_handler.go
  logging/event_codes.go
Labels: acra-censor

#194 ignore parse errors
  acra-censor/acra-censor_configuration_provider.go
  acra-censor/acra-censor_implementation.go
  acra-censor/acra-censor_test.go
  acra-censor/handlers/blacklist_handler.go
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/querycapture_handler.go
  acra-censor/handlers/whitelist_handler.go
  configs/acra-censor.example.yaml
Labels: acra-censor

#195 fix concurrent map iteration during logging
  logging/log_formatters.go
  tests/test.py
Labels: bug

#197 base part of connection handling
  cmd/acra-reader/acra-reader.go
  cmd/acra-reader/listener.go
  cmd/acra-reader/network.go
  cmd/acra-reader/server.go
  logging/logging.go
  network/connections.go
  network/utils.go
Labels: acra-reader

#198 [WIP] AcraReader: basic HTTP API /decrypt handling
  cmd/acra-reader/server.go
  logging/event_codes.go
Labels: acra-reader

#201 validate acrastruct length before decryption
  decryptor/base/decryptor.go
  decryptor/base/utils.go
  decryptor/base/utils_test.go
Labels: acra-server

#200 grpc handler
  .circleci/config.yml
  acra-censor/handlers/querycapture_handler.go
  cmd/acra-reader/acra-reader.go
  cmd/acra-reader/grpc_api/Readme.md
  cmd/acra-reader/grpc_api/api.pb.go
  cmd/acra-reader/grpc_api/api.proto
  cmd/acra-reader/grpc_api/api_test.go
  cmd/acra-reader/grpc_api/decryptor.go
  cmd/acra-reader/http-api/decryptor.go
  cmd/acra-reader/http-api/decryptor_test.go
  cmd/acra-reader/http-api/mock_keystorage.go
  cmd/acra-reader/server.go
  configs/acra-reader.yaml
  logging/event_codes.go
  network/deadline_listener.go
  network/secure_session_listener.go
  tests/test.py
Labels: acra-reader

#203 fix network part
  cmd/acra-reader/network.go
  network/connections.go
  network/secure_session_wrapper.go
  network/utils.go
Labels: acra-reader

#204 AcraReader http buffering
  cmd/acra-connector/acra-connector.go
  cmd/acra-reader/http-api/decryptor.go
  cmd/acra-reader/http-api/decryptor_test.go
  cmd/acra-reader/server.go
Labels: acra-reader

#205 acra-reader -> acra-translator renaming
  cmd/acra-reader/grpc_api/api.pb.go
  cmd/acra-translator/acra-translator.go
  cmd/acra-translator/config.go
  cmd/acra-translator/grpc_api/Readme.md
  cmd/acra-translator/grpc_api/api.pb.go
  cmd/acra-translator/grpc_api/api.proto
  cmd/acra-translator/grpc_api/api_test.go
  cmd/acra-translator/grpc_api/decryptor.go
  cmd/acra-translator/http_api/decryptor.go
  cmd/acra-translator/http_api/decryptor_test.go
  cmd/acra-translator/http_api/mock_keystorage.go
  cmd/acra-translator/network.go
  cmd/acra-translator/server.go
  cmd/constants.go
  configs/acra-translator.yaml
  configs/regenerate.sh
  logging/event_codes.go
Labels: acra-translator

#206 Update AcraConnector to connect with AcraTranslator
  cmd/acra-connector/acra-connector.go
  cmd/acra-connector/connector-mode/connector-mode.go
  cmd/acra-keymaker/acra-keymaker.go
  cmd/acra-translator/grpc_api/api_test.go
  cmd/acra-translator/http_api/mock_keystorage.go
  configs/acra-connector.yaml
  configs/acra-keymaker.yaml
  decryptor/mysql/decryptor_test.go
  keystore/connector_keystore.go
  keystore/filenames.go
  keystore/keystore.go
  keystore/server_keystore.go
  keystore/server_keystore_test.go
  zone/zone_id_matcher_test.go
Labels: acra-connector, acra-translator, key-management

#208 Censor refactoring (using maps instead of arrays in blacklist and whitelist) [T657]
  acra-censor/acra-censor_configuration_provider.go
  acra-censor/acra-censor_test.go
  acra-censor/handlers/blacklist_handler.go
  acra-censor/handlers/querycapture_handler.go
  acra-censor/handlers/whitelist_handler.go
  configs/acra-censor.example.yaml
Labels: acra-censor, tests

#210 check that insert query contain placeholder
  cmd/acra-rollback/acra-rollback.go
  tests/test.py
Labels: acra-rollback

#212 detect poison record on translator
  cmd/acra-translator/grpc_api/api_test.go
  cmd/acra-translator/grpc_api/decryptor.go
  cmd/acra-translator/http_api/decryptor.go
  cmd/acra-translator/http_api/decryptor_test.go
  cmd/acra-translator/http_api/mock_keystorage.go
  cmd/acra-translator/server.go
  decryptor/base/utils.go
  network/secure_session_wrapper.go
  tests/test.py
Labels: acra-translator

#213 Add AcraTranslator service T663
  cmd/acra-addzone/acra-addzone.go
  cmd/acra-authmanager/acra_authmanager.go
  cmd/acra-connector/acra-connector.go
  cmd/acra-connector/connector-mode/connector-mode.go
  cmd/acra-keymaker/acra-keymaker.go
  cmd/acra-poisonrecordmaker/acra-poisonrecordmaker.go
  cmd/acra-rollback/acra-rollback.go
  cmd/acra-server/acra-server.go
  cmd/acra-server/listener.go
  cmd/acra-translator/acra-translator.go
  cmd/acra-translator/config.go
  cmd/acra-translator/grpc_api/Readme.md
  cmd/acra-translator/grpc_api/api.pb.go
  cmd/acra-translator/grpc_api/api.proto
  cmd/acra-translator/grpc_api/api_test.go
  cmd/acra-translator/grpc_api/decryptor.go
  cmd/acra-translator/http_api/decryptor.go
  cmd/acra-translator/http_api/decryptor_test.go
  cmd/acra-translator/http_api/mock_keystorage.go
  cmd/acra-translator/network.go
  cmd/acra-translator/server.go
  cmd/constants.go
  configs/acra-connector.yaml
  configs/acra-keymaker.yaml
  configs/acra-translator.yaml
  configs/regenerate.sh
  decryptor/base/utils.go
  decryptor/mysql/decryptor_test.go
  keystore/connector_keystore.go
  keystore/filesystem/connector_keystore.go
  keystore/filesystem/filenames.go
  keystore/filesystem/server_keystore.go
  keystore/filesystem/server_keystore_test.go
  keystore/filesystem/translator_keystore.go
  keystore/keystore.go
  logging/event_codes.go
  logging/logging.go
  network/connections.go
  network/deadline_listener.go
  network/secure_session_listener.go
  network/secure_session_wrapper.go
  network/utils.go
  tests/Readme.md
  tests/api_pb2.py
  tests/api_pb2_grpc.py
  tests/requirements.txt
  tests/test.py
  tests/utils.py
  zone/zone_id_matcher_test.go
Labels: acra-connector, acra-translator

#217 Fix AcraCensor tests
  acra-censor/acra-censor_test.go
  acra-censor/handlers/querycapture_handler.go
Labels: acra-censor, tests

#218 Some golint fixes
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/querycapture_handler.go
  cmd/acra-connector/acra-connector.go
  cmd/acra-keymaker/acra-keymaker.go
  cmd/acra-rollback/acra-rollback.go
  cmd/acra-server/acra-server.go
  cmd/acra-server/client_session.go
  cmd/acra-server/listener.go
  cmd/acra-translator/acra-translator.go
  cmd/acra-translator/common/common.go
  cmd/acra-translator/config.go
  cmd/acra-translator/grpc_api/api_test.go
  cmd/acra-translator/grpc_api/decryptor.go
  cmd/acra-translator/http_api/decryptor.go
  cmd/acra-translator/http_api/decryptor_test.go
  cmd/acra-translator/http_api/mock_keystorage.go
  cmd/acra-translator/network.go
  cmd/acra-translator/server.go
  cmd/utils.go
  configs/acra-connector.yaml
  configs/acra-keymaker.yaml
  configs/acra-rollback.yaml
  configs/acra-server.yaml
  configs/acra-translator.yaml
  decryptor/base/callbacks.go
  decryptor/base/decryptor.go
  decryptor/base/utils.go
  decryptor/base/utils_test.go
  decryptor/binary/binary_decryptor.go
  decryptor/mysql/decryptor.go
  decryptor/mysql/decryptor_test.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/pg_escape_decryptor.go
  decryptor/postgresql/pg_general_decryptor.go
  decryptor/postgresql/pg_hex_decryptor.go
  examples/golang/src/example/example.go
  examples/golang/src/example_with_zone/example_with_zone.go
  keystore/filesystem/connector_keystore.go
  keystore/filesystem/server_keystore.go
  keystore/filesystem/server_keystore_test.go
  keystore/keystore.go
  keystore/keystore_test.go
  logging/cef_formatter.go
  logging/event_codes.go
  logging/log_formatters.go
  logging/logging.go
  network/connection_wrapper.go
  network/connection_wrapper_test.go
  network/connections.go
  network/deadline_listener.go
  network/raw_wrapper.go
  network/secure_session_wrapper.go
  network/tls_wrapper.go
  utils/logging.go
  zone/matcher.go
  zone/utils.go
  zone/zone_id_matcher.go
  zone/zone_id_matcher_test.go
Labels: refactoring

#216 Hide query values in syslog and debug mode
  acra-censor/acra-censor_implementation.go
  acra-censor/acra-censor_test.go
  acra-censor/handlers/blacklist_handler.go
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/querycapture_handler.go
  acra-censor/handlers/whitelist_handler.go
  cmd/acra-server/config.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  logging/event_codes.go
Labels: acra-censor

#219 use lru cache in keystore [T669]
  cmd/acra-server/acra-server.go
  cmd/acra-translator/acra-translator.go
  keystore/cache.go
  keystore/filesystem/filenames.go
  keystore/filesystem/server_keystore.go
  keystore/filesystem/server_keystore_test.go
  keystore/filesystem/translator_keystore.go
  keystore/lru_cache/lru_cache.go
Labels: key-management

#220 avoid free server struct until end of program [T707]
  cmd/acra-server/acra-server.go
Labels: acra-server

#222 Added AcraTranslator to Makefile and dockerfiles
  Makefile
  docker/acra-build.dockerfile
  docker/acra-translator.dockerfile
Labels: acra-translator, infrastructure

#223 kill forked process
  tests/test.py
Labels: tests

#224 More fixing of golint issues + add check to CircleCI
  .circleci/check_gofmt.sh
  .circleci/check_golint.sh
  .circleci/config.yml
  cmd/utils.go
  decryptor/base/callbacks.go
  decryptor/binary/binary_decryptor.go
  decryptor/mysql/column_field.go
  decryptor/mysql/decryptor.go
  decryptor/mysql/packet.go
  decryptor/mysql/response_proxy.go
  decryptor/mysql/utils.go
  keystore/filesystem/server_keystore.go
  network/connection_wrapper.go
  network/connections.go
  network/proxy.go
  poison/poison.go
  utils/escape_format.go
  zone/utils.go
Labels: refactoring

#225 Created AcraTranslator examples
  docker/README.md
  docker/docker-compose.translator-ssession-connector-grpc.yml
  docker/docker-compose.translator-ssession-connector-http.yml
  tests/generate_acrastruct.py
  tests/utils.py
Labels: acra-connector, acra-translator, examples, infrastructure, key-management

#227 More golint fixes
  .circleci/check_golint.sh
  .circleci/config.yml
  acra-censor/handlers/blacklist_handler.go
  acra-writer/acra-writer.go
  cmd/acra-authmanager/acra_authmanager.go
  cmd/acra-server/auth.go
  cmd/acra-server/config.go
  cmd/acra-translator/grpc_api/decryptor.go
  cmd/acra-webconfig/acra-webconfig.go
  decryptor/mysql/utils.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/pg_escape_decryptor.go
  decryptor/postgresql/pg_general_decryptor.go
  decryptor/postgresql/pg_hex_decryptor.go
  fuzz/fuzz.go
  keystore/filesystem/connector_keystore.go
  network/raw_wrapper.go
  network/secure_session_wrapper.go
  network/tls_wrapper.go
  utils/utils.go
  zone/byte_reader_binary.go
  zone/byte_reader_pg_escape.go
  zone/byte_reader_pg_hex.go
  zone/matcher.go
  zone/matcher_pool.go
  zone/zone_id_matcher.go
Labels: refactoring
