Repository cossacklabs/acra, pull requests merged in 2018-08, with the labels that each got.

#229 remove duplicated package comments
  acra-censor/acra-censor_configuration_provider.go
  acra-censor/acra-censor_implementation.go
  acra-censor/handlers/blacklist_handler.go
  acra-censor/handlers/querycapture_handler.go
  acra-censor/handlers/queryignore_handler.go
  acra-censor/handlers/whitelist_handler.go
  cmd/acra-server/auth.go
  cmd/acra-server/client_commands_session.go
  cmd/acra-server/client_session.go
  cmd/acra-server/config.go
  cmd/acra-server/listener.go
  cmd/acra-translator/config.go
  cmd/acra-translator/http_api/mock_keystorage.go
  cmd/acra-translator/http_api/mock_poison_callback.go
  cmd/acra-translator/network.go
  cmd/acra-translator/server.go
  cmd/acra-webconfig/acra-server_config_vars.go
  cmd/constants.go
  cmd/utils_argon2.go
  decryptor/base/callbacks.go
  decryptor/base/utils.go
  decryptor/mysql/column_field.go
  decryptor/mysql/error.go
  decryptor/mysql/packet.go
  decryptor/mysql/response_proxy.go
  decryptor/mysql/utils.go
  decryptor/postgresql/pg_escape_decryptor.go
  decryptor/postgresql/pg_escape_decryptor_test.go
  decryptor/postgresql/pg_general_decryptor.go
  decryptor/postgresql/pg_hex_decryptor.go
  keystore/cache.go
  keystore/filesystem/connector_keystore.go
  keystore/filesystem/filenames.go
  keystore/filesystem/server_keystore_test.go
  keystore/filesystem/translator_keystore.go
  keystore/keystore_test.go
  logging/cef_formatter.go
  logging/event_codes.go
  logging/log_formatters.go
  network/connection_wrapper.go
  network/deadline_listener.go
  network/proxy.go
  network/raw_wrapper.go
  network/secure_session_listener.go
  network/secure_session_wrapper.go
  network/tls_wrapper.go
  network/utils.go
  utils/escape_format.go
  utils/logging.go
  utils/version.go
  zone/byte_reader_binary.go
  zone/byte_reader_pg_escape.go
  zone/byte_reader_pg_hex.go
  zone/matcher_pool.go
  zone/utils.go
  zone/zone_id_matcher.go
Labels: docs, refactoring

#226 Add some patterns support to blacklist [T660]
  acra-censor/acra-censor_configuration_provider.go
  acra-censor/acra-censor_interfaces.go
  acra-censor/acra-censor_test.go
  acra-censor/handlers/blacklist_handler.go
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/whitelist_handler.go
  cmd/acra-server/config.go
  configs/acra-censor.example.yaml
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  tests/acra-censor_configs/acra-censor_blacklist.yaml
  tests/acra-censor_configs/acra-censor_whitelist.yaml
Labels: acra-censor

#232 check poison records after decryption for mysql [T685]
  decryptor/mysql/decryptor.go
  decryptor/mysql/decryptor_test.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/pg_general_decryptor.go
Labels: mysql, refactoring

#231 Add patterns functionality to whitelist
  acra-censor/acra-censor_configuration_provider.go
  acra-censor/acra-censor_implementation.go
  acra-censor/acra-censor_interfaces.go
  acra-censor/acra-censor_test.go
  acra-censor/handlers/blacklist_handler.go
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/handlers_util_test.go
  acra-censor/handlers/queryignore_handler.go
  acra-censor/handlers/whitelist_handler.go
  tests/acra-censor_configs/acra-censor_blacklist.yaml
  tests/acra-censor_configs/acra-censor_whitelist.yaml
  tests/test.py
Labels: acra-censor

#233 AcraWriter for iOS, objc [T666]
  .gitignore
  wrappers/objc/AcraWriter/AcraWriter.xcodeproj/project.pbxproj
  wrappers/objc/AcraWriter/AcraWriter.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  wrappers/objc/AcraWriter/AcraWriter.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  wrappers/objc/AcraWriter/AcraWriter/AcraStruct+Internal.h
  wrappers/objc/AcraWriter/AcraWriter/AcraStruct.h
  wrappers/objc/AcraWriter/AcraWriter/AcraStruct.m
  wrappers/objc/AcraWriter/AcraWriter/AcraWriter.h
  wrappers/objc/AcraWriter/AcraWriter/AcraWriter.m
  wrappers/objc/AcraWriter/AcraWriter/Info.plist
  wrappers/objc/AcraWriter/Example/AcraWriterUsage.xcodeproj/project.pbxproj
  wrappers/objc/AcraWriter/Example/AcraWriterUsage.xcworkspace/contents.xcworkspacedata
  wrappers/objc/AcraWriter/Example/AcraWriterUsage.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  wrappers/objc/AcraWriter/Example/AcraWriterUsage/AppDelegate.h
  wrappers/objc/AcraWriter/Example/AcraWriterUsage/AppDelegate.m
  wrappers/objc/AcraWriter/Example/AcraWriterUsage/Assets.xcassets/AppIcon.appiconset/Contents.json
  wrappers/objc/AcraWriter/Example/AcraWriterUsage/Assets.xcassets/Contents.json
  wrappers/objc/AcraWriter/Example/AcraWriterUsage/Base.lproj/LaunchScreen.storyboard
  wrappers/objc/AcraWriter/Example/AcraWriterUsage/Base.lproj/Main.storyboard
  wrappers/objc/AcraWriter/Example/AcraWriterUsage/Info.plist
  wrappers/objc/AcraWriter/Example/AcraWriterUsage/ViewController.h
  wrappers/objc/AcraWriter/Example/AcraWriterUsage/ViewController.m
  wrappers/objc/AcraWriter/Example/AcraWriterUsage/main.m
  wrappers/objc/AcraWriter/Example/AcraWriterUsageTests/AcraWriterUsageTests.m
  wrappers/objc/AcraWriter/Example/AcraWriterUsageTests/Info.plist
  wrappers/objc/AcraWriter/Example/Podfile
  wrappers/objc/AcraWriter/Example/Podfile.lock
  wrappers/objc/AcraWriter/acrawriter.podspec
Labels: acra-writer

#235 AcraWriter: prepare for publishing pod
  .gitignore
  acrawriter.podspec
  wrappers/objc/AcraWriter.xcodeproj/project.pbxproj
  wrappers/objc/AcraWriter.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  wrappers/objc/AcraWriter.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  wrappers/objc/AcraWriter.xcodeproj/xcshareddata/xcschemes/AcraWriter.xcscheme
  wrappers/objc/AcraWriter/AcraStruct+Internal.h
  wrappers/objc/AcraWriter/AcraStruct.h
  wrappers/objc/AcraWriter/AcraStruct.m
  wrappers/objc/AcraWriter/AcraWriter.h
  wrappers/objc/AcraWriter/AcraWriter.m
  wrappers/objc/AcraWriter/Example/Podfile
  wrappers/objc/AcraWriter/Info.plist
  wrappers/objc/Example/AcraWriterUsage.xcodeproj/project.pbxproj
  wrappers/objc/Example/AcraWriterUsage.xcodeproj/xcshareddata/xcschemes/AcraWriterUsage.xcscheme
  wrappers/objc/Example/AcraWriterUsage.xcworkspace/contents.xcworkspacedata
  wrappers/objc/Example/AcraWriterUsage.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  wrappers/objc/Example/AcraWriterUsage/AppDelegate.h
  wrappers/objc/Example/AcraWriterUsage/AppDelegate.m
  wrappers/objc/Example/AcraWriterUsage/Assets.xcassets/AppIcon.appiconset/Contents.json
  wrappers/objc/Example/AcraWriterUsage/Assets.xcassets/Contents.json
  wrappers/objc/Example/AcraWriterUsage/Base.lproj/LaunchScreen.storyboard
  wrappers/objc/Example/AcraWriterUsage/Base.lproj/Main.storyboard
  wrappers/objc/Example/AcraWriterUsage/Info.plist
  wrappers/objc/Example/AcraWriterUsage/ViewController.h
  wrappers/objc/Example/AcraWriterUsage/ViewController.m
  wrappers/objc/Example/AcraWriterUsage/main.m
  wrappers/objc/Example/AcraWriterUsageTests/AcraWriterUsageTests.m
  wrappers/objc/Example/AcraWriterUsageTests/Info.plist
  wrappers/objc/Example/Podfile
  wrappers/objc/Example/Podfile.lock
Labels: acra-writer

#234 collect metrics [T662]
  acra-censor/acra-censor_test.go
  cmd/acra-connector/acra-connector.go
  cmd/acra-connector/prometheus.go
  cmd/acra-server/acra-server.go
  cmd/acra-server/listener.go
  cmd/acra-server/prometheus.go
  cmd/prometheus.go
  decryptor/base/prometheus.go
  decryptor/mysql/decryptor.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
Labels: acra-connector, acra-server

#236 Added tools to AcraServer and AcraTranslator containers
  docker/_scripts/acra-build/add_component.sh
  docker/_scripts/acra-build/collect_dependencies.sh
  docker/_scripts/mysql-ssl-configure.sh
  docker/_scripts/postgresql-ssl-configure.sh
  docker/acra-build.dockerfile
  docker/mysql-ssl.dockerfile
  docker/postgresql-ssl.dockerfile
Labels: acra-poison_records_maker, acra-rollback, acra-server, acra-translator, infrastructure

#240 Small fixes of poison records handling
  cmd/acra-connector/acra-connector.go
  cmd/acra-server/acra-server.go
  cmd/acra-server/listener.go
  cmd/acra-translator/acra-translator.go
  cmd/acra-translator/grpc_api/decryptor.go
  cmd/acra-translator/server.go
  configs/acra-connector.yaml
  configs/acra-server.yaml
  configs/acra-translator.yaml
Labels: acra-server, acra-translator, refactoring

#238 Improve %%VALUE%% pattern
  acra-censor/acra-censor_test.go
  acra-censor/handlers/handlers_util.go
Labels: acra-censor

#239 rotate acrastructs in files [T672]
  cmd/acra-rollback/acra-rollback.go
  cmd/acra-rotate/acra-rotate.go
  cmd/acra-rotate/fileRotation.go
  cmd/acra-rotate/zoneIdFileMap.go
  cmd/acra-server/listener.go
  cmd/acra-translator/grpc_api/api_test.go
  cmd/acra-translator/http_api/mock_keystorage.go
  configs/acra-rotate.yaml
  configs/acra-server.yaml
  configs/regenerate.sh
  decryptor/mysql/decryptor_test.go
  keystore/filesystem/server_keystore.go
  keystore/filesystem/server_keystore_test.go
  keystore/keystore.go
  tests/generate_acrastruct.py
  tests/test.py
  tests/utils.py
  zone/zone_id_matcher_test.go
Labels: acra-rotate, refactoring

#243 AcraCensor: normalize queries and fix QueryCaptureHandler
  acra-censor/acra-censor_implementation.go
  acra-censor/acra-censor_test.go
  acra-censor/handlers/blacklist_handler.go
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/querycapture_handler.go
  acra-censor/handlers/queryignore_handler.go
  acra-censor/handlers/whitelist_handler.go
  cmd/acra-server/listener.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  tests/acra-censor_configs/acra-censor_blacklist.yaml
  tests/acra-censor_configs/acra-censor_whitelist.yaml
  tests/test.py
Labels: acra-censor, tests

#244 Zeroing private keys in acrawriters
  acra-writer/acra-writer.go
  wrappers/nodejs/acrawriter.js
  wrappers/objc/AcraWriter/AcraWriter.m
  wrappers/ruby/acrawriter/lib/acrawriter.rb
Labels: acra-writer

#246 Remove repetitive and redundant logs
  acra-censor/acra-censor_implementation.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  logging/logging.go
Labels: acra-censor

#250 refactoring utils and deadlines [T696]
  benchmarks/common/utils.go
  cmd/acra-addzone/acra-addzone.go
  cmd/acra-connector/acra-connector.go
  cmd/acra-rollback/acra-rollback.go
  cmd/acra-rotate/acra-rotate.go
  cmd/acra-server/acra-server.go
  cmd/acra-server/auth.go
  cmd/acra-server/listener.go
  cmd/acra-translator/server.go
  cmd/acra-webconfig/acra-webconfig.go
  cmd/prometheus.go
  cmd/utils.go
  decryptor/binary/binary_decryptor.go
  decryptor/mysql/decryptor.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/pg_escape_decryptor.go
  decryptor/postgresql/pg_general_decryptor.go
  decryptor/postgresql/pg_hex_decryptor.go
  keystore/filesystem/server_keystore.go
  network/deadline_listener.go
  network/secure_session_wrapper.go
  network/tls_wrapper.go
  utils/utils.go
  utils/utils_test.go
Labels: refactoring

#252 AcraWriter for Java/Android
  examples/android_java/AcraWriterAndroidApp/.gitignore
  examples/android_java/AcraWriterAndroidApp/app/.gitignore
  examples/android_java/AcraWriterAndroidApp/app/build.gradle
  examples/android_java/AcraWriterAndroidApp/app/libs/themis-release.aar
  examples/android_java/AcraWriterAndroidApp/app/proguard-rules.pro
  examples/android_java/AcraWriterAndroidApp/app/src/androidTest/java/com/cossacklabs/acrawriter/test/AcraWriterTest.java
  examples/android_java/AcraWriterAndroidApp/app/src/main/AndroidManifest.xml
  examples/android_java/AcraWriterAndroidApp/app/src/main/java/com/cossacklabs/acrawriter_example/MainActivityAcraStructExample.java
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/layout/activity_main.xml
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/mipmap-hdpi/ic_launcher.png
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/mipmap-mdpi/ic_launcher.png
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/values/colors.xml
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/values/strings.xml
  examples/android_java/AcraWriterAndroidApp/app/src/main/res/values/styles.xml
  examples/android_java/AcraWriterAndroidApp/build.gradle
  examples/android_java/AcraWriterAndroidApp/gradle.properties
  examples/android_java/AcraWriterAndroidApp/gradle/wrapper/gradle-wrapper.jar
  examples/android_java/AcraWriterAndroidApp/gradle/wrapper/gradle-wrapper.properties
  examples/android_java/AcraWriterAndroidApp/gradlew
  examples/android_java/AcraWriterAndroidApp/gradlew.bat
  examples/android_java/AcraWriterAndroidApp/settings.gradle
  examples/android_java/Readme.md
  wrappers/java/com/cossacklabs/acrawriter/AcraStruct.java
  wrappers/java/com/cossacklabs/acrawriter/AcraWriter.java
Labels: acra-writer
