Repository cossacklabs/acra, pull requests merged in 2018-06, with the labels that each got.

#187 generate config for authmanager
  cmd/acra-authmanager/acra_authmanager.go
  configs/acra-authmanager.yaml
  configs/regenerate.sh
Labels: acra-authmanager

#188 support mysql in python examples (T633)
  examples/python/example_with_zone.py
  examples/python/example_without_zone.py
  examples/python/requirements.txt
  examples/python/requirements/base.txt
  examples/python/requirements/mysql.txt
  examples/python/requirements/postgresql.txt
Labels: python, tests

#190 golang mysql examples [T633]
  acra-censor/acra-censor_test.go
  examples/golang/src/example/example.go
  examples/golang/src/example_with_zone/example_with_zone.go
Labels: examples, go

#184 Basic integration test for censor
  acra-censor/acra-censor_configuration_provider.go
  acra-censor/acra-censor_implementation.go
  acra-censor/acra-censor_interfaces.go
  acra-censor/acra-censor_test.go
  acra-censor/handlers/blacklist_handler.go
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/querycapture_handler.go
  acra-censor/handlers/queryignore_handler.go
  acra-censor/handlers/whitelist_handler.go
  cmd/acra-server/config.go
  configs/acra-censor.example.yaml
  tests/acra-censor_configs/acra-censor_blacklist.yaml
  tests/acra-censor_configs/acra-censor_whitelist.yaml
  tests/docker-compose_mysql.yml
  tests/docker-compose_postgres.yml
  tests/test.py
Labels: acra-censor, tests
