Repository cossacklabs/acra, pull requests merged in 2018-03, with the labels that each got.

#124 pre-release:
  CHANGELOG.md
  README.md
Labels: docs

#126 custom logging 101
  cmd/acra_addzone/acra_addzone.go
  cmd/acra_configui/acra_configui.go
  cmd/acra_genkeys/acra_genkeys.go
  cmd/acra_genpoisonrecord/acra_genpoisonrecord.go
  cmd/acra_rollback/acra_rollback.go
  cmd/acraproxy/acraproxy.go
  cmd/acraserver/acraserver.go
  cmd/utils.go
  configs/acraproxy.yaml
  configs/acraserver.yaml
  logging/log_formatters.go
  logging/logging.go
  utils/logging.go
  utils/version.go
Labels: core

#127 logging in CEF format
  cmd/acraproxy/acraproxy.go
  cmd/acraserver/acraserver.go
  logging/cef_formatter.go
  logging/cef_formatter_test.go
  logging/log_formatters.go
  logging/logging.go
Labels: core

#128 fix integration tests to run smooth & be compliant with readme
  tests/Readme.md
  tests/docker-compose.yml
  tests/test.py
Labels: tests

#129 Fix test_rollback in integration test suit (T521)
  tests/test.py
Labels: tests

#130 use correct ssl mode for "close connections" test
  tests/test.py
Labels: tests

#125 More flexible query analysis
  firewall/firewall_interfaces.go
  firewall/firewall_test.go
  firewall/handlers/blacklist_handler.go
  firewall/handlers/handlers_test.go
  firewall/handlers/handlers_util.go
  firewall/handlers/whitelist_handler.go
Labels: firewall

#131 Refactored docker images' building process
  Makefile
  docker/acra-build.dockerfile
  docker/acraproxy.dockerfile
  docker/acraserver.dockerfile
  docker/collect_dependencies.sh
Labels: infrastructure

#123 Mozh/t500 graceful restart
  cmd/acra_configui/acra_configui.go
  cmd/acra_configui/acraserver_config_vars.go
  cmd/acraproxy/acraproxy.go
  cmd/acraserver/acraserver.go
  cmd/acraserver/client_commands_session.go
  cmd/acraserver/client_session.go
  cmd/acraserver/config.go
  cmd/acraserver/listener.go
  cmd/constants.go
  cmd/utils.go
  configs/acra_configui.yaml
  configs/acraproxy.yaml
  configs/acraserver.yaml
  configs/regenerate.sh
  network/connection_wrapper.go
  network/connections.go
  network/utils.go
  tests/test.py
Labels: webui

#136 use firewall in query processing
  .circleci/config.yml
  cmd/acra_rollback/acra_rollback.go
  cmd/acraserver/acraserver.go
  cmd/acraserver/client_session.go
  cmd/acraserver/config.go
  cmd/acraserver/listener.go
  decryptor/mysql/error.go
  decryptor/mysql/packet.go
  decryptor/mysql/response_proxy.go
  examples/golang/src/example/example.go
  examples/golang/src/example_with_zone/example_with_zone.go
  fuzz/fuzz.go
  tests/requirements.txt
  tests/test.py
Labels: core, firewall, tests

#135 More logs for acra_proxy, acra_server, acra_configui
  .circleci/integration.sh
  cmd/acra_configui/acra_configui.go
  cmd/acraproxy/acraproxy.go
  cmd/acraserver/acraserver.go
  cmd/acraserver/client_commands_session.go
  cmd/acraserver/client_session.go
  cmd/acraserver/listener.go
  cmd/utils.go
  configs/acra_configui.yaml
  configs/acraproxy.yaml
  configs/acraserver.yaml
  decryptor/mysql/decryptor.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  keystore/server_keystore.go
  logging/event_codes.go
  logging/log_formatters.go
  logging/logging.go
  network/secure_session_wrapper.go
  tests/test.py
Labels: enhancement

#138 Updating firewall
  cmd/acra_addzone/acra_addzone.go
  cmd/acra_configui/acra_configui.go
  cmd/acra_genkeys/acra_genkeys.go
  cmd/acra_genpoisonrecord/acra_genpoisonrecord.go
  cmd/acraproxy/acraproxy.go
  cmd/acraserver/client_commands_session.go
  cmd/utils.go
  configs/acra_firewall.example.yaml
  firewall/firewall_configuration_provider.go
  firewall/firewall_implementation.go
  firewall/firewall_interfaces.go
  firewall/firewall_test.go
  firewall/handlers/blacklist_handler.go
  firewall/handlers/handlers_util.go
  firewall/handlers/handlers_util_test.go
  firewall/handlers/whitelist_handler.go
  logging/cef_formatter.go
  logging/cef_formatter_test.go
  logging/log_formatters.go
  logging/logging.go
  network/connections.go
  utils/logging.go
  utils/version.go
Labels: firewall
