Repository cossacklabs/acra, pull requests merged in 2018-10, with the labels that each got.

#267 Update Readme: add Acra Engineering demo, re-shape blocks
  README.md
Labels: docs

#268 T824 censor refactoring
  acra-censor/acra-censor_test.go
  acra-censor/handlers/blacklist_handler.go
  acra-censor/handlers/common.go
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/handlers_util_test.go
  acra-censor/handlers/whitelist_handler.go
Labels: acra-censor

#269 dry run rotate [T813]
  cmd/acra-connector/acra-connector.go
  cmd/acra-rotate/acra-rotate.go
  cmd/acra-rotate/dbRotation.go
  cmd/acra-rotate/fileRotation.go
  cmd/acra-rotate/rotator.go
  cmd/acra-translator/grpc_api/api_test.go
  cmd/acra-translator/http_api/mock_keystorage.go
  cmd/acra-translator/server.go
  decryptor/mysql/decryptor_test.go
  keystore/filesystem/server_keystore.go
  keystore/filesystem/server_keystore_test.go
  keystore/keystore.go
  tests/test.py
  zone/zone_id_matcher_test.go
Labels: acra-rotate, key-management

#270 AcraWriter c++ with tests and examples
  .gitignore
  examples/cpp/CMakeLists.txt
  examples/cpp/libs/catch.hpp
  examples/cpp/libs/cppcodec/base32_crockford.hpp
  examples/cpp/libs/cppcodec/base32_default_crockford.hpp
  examples/cpp/libs/cppcodec/base32_default_hex.hpp
  examples/cpp/libs/cppcodec/base32_default_rfc4648.hpp
  examples/cpp/libs/cppcodec/base32_hex.hpp
  examples/cpp/libs/cppcodec/base32_rfc4648.hpp
  examples/cpp/libs/cppcodec/base64_default_rfc4648.hpp
  examples/cpp/libs/cppcodec/base64_default_url.hpp
  examples/cpp/libs/cppcodec/base64_default_url_unpadded.hpp
  examples/cpp/libs/cppcodec/base64_rfc4648.hpp
  examples/cpp/libs/cppcodec/base64_url.hpp
  examples/cpp/libs/cppcodec/base64_url_unpadded.hpp
  examples/cpp/libs/cppcodec/data/access.hpp
  examples/cpp/libs/cppcodec/data/raw_result_buffer.hpp
  examples/cpp/libs/cppcodec/detail/base32.hpp
  examples/cpp/libs/cppcodec/detail/base64.hpp
  examples/cpp/libs/cppcodec/detail/codec.hpp
  examples/cpp/libs/cppcodec/detail/config.hpp
  examples/cpp/libs/cppcodec/detail/hex.hpp
  examples/cpp/libs/cppcodec/detail/stream_codec.hpp
  examples/cpp/libs/cppcodec/hex_default_lower.hpp
  examples/cpp/libs/cppcodec/hex_default_upper.hpp
  examples/cpp/libs/cppcodec/hex_lower.hpp
  examples/cpp/libs/cppcodec/hex_upper.hpp
  examples/cpp/libs/cppcodec/parse_error.hpp
  examples/cpp/main.cpp
  examples/cpp/main_tests.cpp
  wrappers/cpp/acrawriter.hpp
Labels: acra-writer

#271 fix golint import path
  .circleci/config.yml
Labels: infrastructure

#275 refactor logs [T836]
  .circleci/config.yml
  cmd/acra-connector/acra-connector.go
  cmd/acra-server/acra-server.go
  cmd/acra-server/client_session.go
  cmd/acra-server/listener.go
  cmd/acra-translator/acra-translator.go
  cmd/acra-webconfig/acra-webconfig.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/packet_handler.go
  decryptor/postgresql/pg_decryptor.go
  logging/trace.go
  network/deadline_listener.go
  network/raw_wrapper.go
  network/secure_session_wrapper.go
  network/tls_wrapper.go
  network/trace.go
  network/utils.go
  network/utils_test.go
  tests/generate_random_data.py
  tests/random_data_config.json
  tests/test.py
  tests/utils.py
Labels: acra-connector, acra-server, acra-translator, acra-webconfig, logging / tracing

#276 add jaeger auth params
  .circleci/config.yml
  .circleci/integration.sh
  .circleci/prepare.sh
  cmd/acra-connector/acra-connector.go
  cmd/acra-server/acra-server.go
  cmd/acra-translator/acra-translator.go
  cmd/jaeger.go
  configs/acra-connector.yaml
  configs/acra-rotate.yaml
  configs/acra-server.yaml
  configs/acra-translator.yaml
  tests/test.py
Labels: infrastructure, tests
