Repository cossacklabs/acra, pull requests merged in 2018-09, with the labels that each got.

#254 update default tls config
  decryptor/mysql/response_proxy.go
  network/connection_wrapper_test.go
  network/tls_wrapper.go
Labels: acra-connector, acra-server

#256 Rotate keys in database [T671]
  cmd/acra-rollback/acra-rollback.go
  cmd/acra-rotate/Readme.md
  cmd/acra-rotate/acra-rotate.go
  cmd/acra-rotate/dbRotation.go
  cmd/acra-server/listener.go
  cmd/acra-translator/server.go
  decryptor/postgresql/pg_escape_decryptor.go
  network/connection_wrapper_test.go
  tests/test.py
  utils/dbByteArrayEncoders.go
  utils/dbByteArrayEncoders_test.go
  utils/utils.go
Labels: key-management

#259 refactor processing clients packets
  cmd/acra-connector/acra-connector.go
  cmd/acra-connector/connector-mode/connector-mode.go
  decryptor/postgresql/packet_handler.go
  decryptor/postgresql/packet_handler_test.go
  decryptor/postgresql/pg_decryptor.go
  network/proxy.go
  tests/test.py
  utils/utils.go
Labels: acra-connector, core, postgresql

#260 rename arg name and description for prometheus metrics
  cmd/acra-connector/acra-connector.go
  cmd/acra-server/acra-server.go
  cmd/acra-translator/acra-translator.go
  cmd/acra-translator/server.go
  configs/acra-connector.yaml
  configs/acra-rotate.yaml
  configs/acra-server.yaml
  configs/acra-translator.yaml
  tests/test.py
  tests/utils.py
Labels: acra-connector, acra-server, acra-translator

#261 Add parameter to generate CLI agrs in markdown
  cmd/utils.go
  configs/acra-addzone.yaml
  configs/acra-authmanager.yaml
  configs/acra-connector.yaml
  configs/acra-keymaker.yaml
  configs/acra-poisonrecordmaker.yaml
  configs/acra-rollback.yaml
  configs/acra-rotate.yaml
  configs/acra-server.yaml
  configs/acra-translator.yaml
  configs/acra-webconfig.yaml
Labels: core, enhancement

#263 support sql IN clause in acra-censor [T815]
  acra-censor/handlers/common.go
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/handlers_util_test.go
Labels: acra-censor

#264 support subquery in range comparison [T815, T817]
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/handlers_util_test.go
Labels: acra-censor

#265 T816 Add OrderBy, GroupBy (plus Having) and Limit / Offset expressions support
  acra-censor/acra-censor_test.go
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/handlers_util_test.go
Labels: acra-censor

#266 Preparing for 0.83.0 release: update changelog and readme, code versions docs
  CHANGELOG.md
  README.md
  cmd/acra-rotate/Readme.md
  utils/version.go
Labels: docs
