Repository cossacklabs/acra, pull requests merged in 2018-12, with the labels that each got.

#292 encode data to bytes in tests/generate_acrastruct.py
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  tests/generate_acrastruct.py
Labels: acra-writer, python

#294 fix misconfiguration in acra-server of api port
  cmd/acra-server/acra-server.go
  tests/test.py
Labels: acra-server, bug, tests

#295 T864 - Separate log file for unparsed queries
  acra-censor/acra-censor_configuration_provider.go
  acra-censor/acra-censor_implementation.go
  acra-censor/acra-censor_interfaces.go
  acra-censor/acra-censor_test.go
  acra-censor/common/common.go
  acra-censor/common/file_log_storage.go
  acra-censor/common/logging_logic.go
  acra-censor/common/logging_logic_test.go
  acra-censor/handlers/querycapture_handler.go
  acra-censor/handlers/queryignore_handler.go
  configs/acra-censor.example.yaml
  logging/event_codes.go
Labels: acra-censor

#296 support pgsql type cast [T883]
  encryptor/dbDataCoder.go
  encryptor/dbDataCoder_test.go
  encryptor/queryDataEncryptor.go
  encryptor/queryDataEncryptor_test.go
  sqlparser/ast.go
  sqlparser/ast_test.go
  sqlparser/parse_test.go
  sqlparser/sql.go
  sqlparser/sql.y
  sqlparser/token.go
  tests/test.py
  utils/dbByteArrayEncoders.go
  utils/dbByteArrayEncoders_test.go
Labels: acra-censor, acra-server, mysql, postgresql
