Repository cossacklabs/acra, pull requests merged in 2018-11, with the labels that each got.

#277 drop go18 support
  .circleci/config.yml
Labels: go

#278 Update DB versions in docker demos
  docker/_scripts/mysql-ssl-configure.sh
  docker/_scripts/mysql/mariadb-ssl.cnf
  docker/docker-compose.mysql-nossl-server-ssession-connector.yml
  docker/docker-compose.mysql-nossl-server-ssession-connector_zonemode.yml
  docker/docker-compose.mysql-nossl-server-ssl-connector.yml
  docker/docker-compose.mysql-nossl-server-ssl-connector_zonemode.yml
  docker/docker-compose.mysql-ssl-server-ssl-connector.yml
  docker/docker-compose.pgsql-nossl-server-ssession-connector.yml
  docker/docker-compose.pgsql-nossl-server-ssession-connector_zonemode.yml
  docker/docker-compose.pgsql-nossl-server-ssl-connector.yml
  docker/docker-compose.pgsql-nossl-server-ssl-connector_zonemode.yml
  docker/docker-compose.pgsql-ssl-server-ssl-connector.yml
  docker/mysql-nossl.dockerfile
  docker/mysql-ssl.dockerfile
  docker/postgresql-ssl.dockerfile
  examples/python/example_with_zone.py
  examples/python/example_without_zone.py
Labels: examples, infrastructure, mysql, postgresql

#279 drop tracing_enable param
  cmd/acra-connector/acra-connector.go
  cmd/acra-server/acra-server.go
  cmd/acra-server/config.go
  cmd/acra-server/listener.go
  cmd/acra-translator/acra-translator.go
  cmd/acra-translator/config.go
  cmd/tracing.go
  configs/acra-connector.yaml
  configs/acra-server.yaml
  configs/acra-translator.yaml
  tests/test.py
Labels: logging / tracing

#280 process queries in prepared statements in binary protocol (pgsql)
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/packet_handler.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/utils.go
  decryptor/postgresql/utils_test.go
  tests/requirements.txt
  tests/test.py
Labels: acra-censor, postgresql

#282 Preparing for 0.84.0 release: update ChangeLog and Readme, update code version, docs
  CHANGELOG.md
  README.md
  examples/cpp/Readme.md
  utils/version.go
  wrappers/cpp/acrawriter.hpp
Labels: docs

#283 test prepared statements with acra-censor
  acra-censor/acra-censor_implementation.go
  acra-censor/handlers/blacklist_handler.go
  acra-censor/handlers/queryignore_handler.go
  acra-censor/handlers/whitelist_handler.go
  decryptor/mysql/response_proxy.go
  tests/acra-censor_configs/acra-censor_blacklist.yaml
  tests/acra-censor_configs/acra-censor_whitelist.yaml
  tests/test.py
  tests/utils.py
Labels: acra-censor, acra-server, tests

#284 remove useless ErrNotImplemented
  acra-censor/handlers/blacklist_handler.go
  acra-censor/handlers/handlers_util.go
  acra-censor/handlers/whitelist_handler.go
Labels: acra-censor

#288 Fixed comments in docker-compose files
  docker/docker-compose.mysql-nossl-server-ssession-connector.yml
  docker/docker-compose.mysql-nossl-server-ssession-connector_zonemode.yml
  docker/docker-compose.mysql-nossl-server-ssl-connector.yml
  docker/docker-compose.mysql-nossl-server-ssl-connector_zonemode.yml
  docker/docker-compose.mysql-ssl-server-ssl-connector.yml
  docker/docker-compose.mysql-ssl-server-ssl-connector_zonemode.yml
  docker/docker-compose.mysql-ssl-server-ssl.yml
  docker/docker-compose.mysql-ssl-server-ssl_zonemode.yml
Labels: infrastructure

#287 Add mysql support to activerecord_acrawriter gem
  wrappers/ruby/activerecord_acrawriter/activerecord_acrawriter.gemspec
  wrappers/ruby/activerecord_acrawriter/lib/activerecord_acrawriter.rb
Labels: enhancement, mysql, postgresql, ruby

#290 Update version of cppcodec for AcraWriter C++ example project
  examples/cpp/Readme.md
  examples/cpp/libs/cppcodec/base32_hex.hpp
  examples/cpp/libs/cppcodec/data/raw_result_buffer.hpp
  examples/cpp/libs/cppcodec/detail/stream_codec.hpp
  examples/cpp/main.cpp
  examples/cpp/main_tests.cpp
Labels: cpp, enhancement, examples
