Repository cossacklabs/acra, pull requests merged in 2019-03, with the labels that each got.

#321 censor versioning [T971]
  .circleci/check_gotest.sh
  .circleci/config.yml
  .circleci/integration.sh
  acra-censor/acra-censor_configuration_provider.go
  acra-censor/acra-censor_test.go
  cmd/acra-server/listener.go
  configs/acra-censor.example.yaml
  network/connection_wrapper_test.go
  tests/acra-censor_configs/acra-censor_blacklist.yaml
  tests/acra-censor_configs/acra-censor_whitelist.yaml
  tests/acra-censor_configs/incorrect_version_format.yaml
  tests/acra-censor_configs/new_version.yaml
  tests/acra-censor_configs/without_version.yaml
  tests/requirements.txt
  tests/test.py
  utils/version.go
  utils/version_test.go
Labels: acra-censor, acra-server, go, refactoring, tests

#323 Update acrawriter.podspec for iOS to handle correct bitcode
  acrawriter.podspec
  examples/objc/AcraWriterUsage.xcodeproj/project.pbxproj
  examples/objc/AcraWriterUsage/AppDelegate.m
  examples/objc/Podfile.lock
Labels: acra-writer, ios

#322 service config version [T1031]
  .circleci/check_configs.sh
  .circleci/config.yml
  .circleci/integration.sh
  cmd/acra-addzone/acra-addzone.go
  cmd/acra-authmanager/acra_authmanager.go
  cmd/acra-keymaker/acra-keymaker.go
  cmd/acra-poisonrecordmaker/acra-poisonrecordmaker.go
  cmd/acra-rollback/acra-rollback.go
  cmd/acra-rotate/acra-rotate.go
  cmd/acra-server/acra-server.go
  cmd/utils.go
  configs/acra-addzone.yaml
  configs/acra-authmanager.yaml
  configs/acra-connector.yaml
  configs/acra-keymaker.yaml
  configs/acra-poisonrecordmaker.yaml
  configs/acra-rollback.yaml
  configs/acra-rotate.yaml
  configs/acra-server.yaml
  configs/acra-translator.yaml
  configs/acra-webconfig.yaml
  configs/regenerate.sh
  tests/test.py
  tests/utils.py
  utils/version.go
  utils/version_test.go
Labels: core, enhancement, refactoring, tests

#324 Update acrawriter to import Themis in a new way
  wrappers/objc/AcraWriter/AcraWriter.m
Labels: acra-writer, ios

#327 Revert #324
  wrappers/objc/AcraWriter/AcraWriter.m
Labels: acra-writer, ios

#325 Update acrawriter.podspec
  acrawriter.podspec
Labels: acra-writer, ios

#328 handle casted placeholders [T1075]
  sqlparser/ast.go
  sqlparser/ast_methods.go
  sqlparser/parse_test.go
  sqlparser/sql.go
  sqlparser/sql.y
  tests/test.py
Labels: acra-server, bug, core, sqlparser

#329 More user-friendly config descriptions for AcraConnector, AcraServer
  cmd/acra-connector/acra-connector.go
  cmd/acra-server/acra-server.go
  configs/acra-connector.yaml
  configs/acra-server.yaml
Labels: acra-connector, acra-server

#330 export edition and version as build_info
  cmd/acra-connector/prometheus.go
  cmd/acra-server/prometheus.go
  cmd/acra-translator/prometheus.go
  cmd/prometheus.go
  tests/test.py
  utils/version.go
Labels: metrics

#331 remove side effect from re-using generated zones in other test modules
  tests/test.py
Labels: tests

#333 regenerate example configs for 0.85.0
  CHANGELOG.md
  configs/acra-addzone.yaml
  configs/acra-authmanager.yaml
  configs/acra-connector.yaml
  configs/acra-keymaker.yaml
  configs/acra-poisonrecordmaker.yaml
  configs/acra-rollback.yaml
  configs/acra-rotate.yaml
  configs/acra-server.yaml
  configs/acra-translator.yaml
  configs/acra-webconfig.yaml
Labels: core

#335 Update dependencies of ruby gems
  wrappers/ruby/acrawriter/acrawriter.gemspec
  wrappers/ruby/activerecord_acrawriter/activerecord_acrawriter.gemspec
Labels: ruby

#334 add dependencies control [T1069]
  .circleci/check_gotest.sh
  .circleci/config.yml
  .circleci/integration.sh
  .circleci/prepare.sh
  Gopkg.lock
  Gopkg.toml
  docker/acra-build.dockerfile
  go.mod
  go.sum
Labels: core, docker, enhancement, go

#336 fetching configuration via webconfig [T1099]
  cmd/acra-connector/acra-connector.go
  cmd/acra-server/config.go
  tests/test.py
Labels: acra-server, acra-webconfig, bug, tests
