Repository cossacklabs/acra, pull requests merged in 2019-02, with the labels that each got.

#309 correctly turn off encryptor
  decryptor/base/observers.go
  decryptor/mysql/proxy.go
  decryptor/mysql/proxy_test.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/proxy.go
  decryptor/postgresql/proxy_test.go
  encryptor/config/tableSchema.go
Labels: acra-server, core, sqlparser

#311 run tests with nohup
  .circleci/integration.sh
  tests/test.py
Labels: tests

#313 Update golang version in dockerfile
  docker/acra-build.dockerfile
Labels: docker, infrastructure

#312 refactoring of log messages
  acra-censor/acra-censor_configuration_provider.go
  acra-censor/acra-censor_implementation.go
  acra-censor/common/common.go
  acra-censor/handlers/denyall_handler.go
  cmd/acra-addzone/acra-addzone.go
  cmd/acra-authmanager/acra_authmanager.go
  cmd/acra-connector/acra-connector.go
  cmd/acra-rollback/acra-rollback.go
  cmd/acra-server/acra-server.go
  cmd/acra-server/client_commands_session.go
  cmd/acra-server/client_session.go
  cmd/acra-server/config.go
  cmd/acra-server/listener.go
  cmd/acra-translator/acra-translator.go
  cmd/acra-translator/grpc_api/decryptor.go
  cmd/acra-translator/http_api/decryptor.go
  cmd/acra-translator/network.go
  cmd/acra-translator/server.go
  cmd/acra-webconfig/acra-webconfig.go
  cmd/prometheus.go
  cmd/tracing.go
  cmd/utils.go
  decryptor/base/dataProcessor.go
  decryptor/base/decryptor.go
  decryptor/base/observers.go
  decryptor/binary/binary_decryptor.go
  decryptor/mysql/decryptor.go
  decryptor/mysql/decryptor_test.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/packet_handler.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/pg_escape_decryptor.go
  decryptor/postgresql/pg_general_decryptor.go
  decryptor/postgresql/pg_hex_decryptor.go
  decryptor/postgresql/proxy_test.go
  encryptor/dbDataCoder.go
  encryptor/queryDataEncryptor.go
  keystore/filesystem/server_keystore.go
  logging/event_codes.go
  logging/logging.go
  network/secure_session_listener.go
  network/secure_session_wrapper.go
  network/tls_wrapper.go
  network/trace.go
  tests/test.py
  tests/utils.py
  utils/logging.go
  utils/utils.go
Labels: logging / tracing, refactoring

#314 fix encoding empty string literals
  .circleci/config.yml
  .circleci/integration.sh
  encryptor/queryDataEncryptor.go
  sqlparser/dependency/sqltypes/value.go
  tests/test.py
  tests/utils.py
Labels: acra-server, bug, core, postgresql

#315 handle last empty column
  decryptor/postgresql/packet_handler.go
  decryptor/postgresql/pg_decryptor_test.go
  decryptor/postgresql/pg_escape_decryptor.go
  tests/test.py
Labels: acra-server, bug, core, postgresql

#316 handle last empty column (fix to master)
  decryptor/postgresql/packet_handler.go
  decryptor/postgresql/pg_decryptor_test.go
  decryptor/postgresql/pg_escape_decryptor.go
  tests/test.py
Labels: acra-server, bug, core, postgresql

#317 correct string formatting
  tests/test.py
Labels: logging / tracing

#319 print version on start
  .gitignore
  cmd/acra-connector/acra-connector.go
  cmd/acra-server/acra-server.go
  cmd/acra-translator/acra-translator.go
  utils/version.go
Labels: acra-connector, acra-server, acra-translator, logging / tracing

#320 export version as metric
  cmd/acra-connector/prometheus.go
  cmd/acra-server/prometheus.go
  cmd/acra-translator/common/prometheus.go
  cmd/acra-translator/prometheus.go
  cmd/prometheus.go
  tests/requirements.txt
  tests/test.py
  utils/version.go
Labels: acra-connector, acra-server, acra-translator, metrics, tests
