Repository cossacklabs/acra, pull requests merged in 2019-01, with the labels that each got.

#297 T863 acracensor
  acra-censor/acra-censor_configuration_provider.go
  acra-censor/acra-censor_implementation.go
  acra-censor/acra-censor_test.go
  acra-censor/common/common.go
  acra-censor/handlers/allow_handler.go
  acra-censor/handlers/allowall_handler.go
  acra-censor/handlers/deny_handler.go
  acra-censor/handlers/denyall_handler.go
  acra-censor/handlers/queryignore_handler.go
  configs/acra-censor.example.yaml
  tests/acra-censor_configs/acra-censor_blacklist.yaml
  tests/acra-censor_configs/acra-censor_whitelist.yaml
  tests/test.py
Labels: acra-censor

#298 fix censor bugs detected by integration tests
  acra-censor/acra-censor_implementation.go
  acra-censor/common/logging_logic.go
Labels: acra-censor

#300 use newer version of pyyaml due to CVE-2017-18342
  tests/requirements.txt
  tests/utils.py
Labels: python, security, tests

#301 fix most of golint warnings
  .circleci/check_golint.sh
  acra-censor/acra-censor_test.go
  acra-censor/common/logging_logic_test.go
  benchmarks/cmd/read/direct/direct.go
  benchmarks/cmd/read/onekey_acrastruct/onekey_acrastruct.go
  benchmarks/cmd/read/onekey_without_acrastruct/onekey_without_acrastruct.go
  benchmarks/cmd/read/zone_acrastruct/zone_acrastruct.go
  benchmarks/cmd/read/zone_without_acrastruct/zone_without_acrastruct.go
  benchmarks/common/db.go
  benchmarks/common/utils.go
  benchmarks/config/consts.go
  benchmarks/write/write.go
  cmd/acra-addzone/acra-addzone.go
  cmd/acra-authmanager/acra_authmanager.go
  cmd/acra-connector/acra-connector.go
  cmd/acra-keymaker/acra-keymaker.go
  cmd/acra-poisonrecordmaker/acra-poisonrecordmaker.go
  cmd/acra-rollback/acra-rollback.go
  cmd/acra-rotate/dbRotation.go
  cmd/acra-server/acra-server.go
  cmd/acra-server/client_commands_session.go
  cmd/acra-server/config.go
  cmd/acra-server/listener.go
  cmd/acra-translator/acra-translator.go
  cmd/acra-webconfig/acra-webconfig.go
  cmd/constants.go
  cmd/jaeger.go
  cmd/utils_argon2.go
  decryptor/base/decryptor.go
  decryptor/binary/binary_decryptor.go
  decryptor/mysql/decryptor.go
  decryptor/mysql/decryptor_test.go
  decryptor/mysql/packet.go
  decryptor/mysql/proxy.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/pg_general_decryptor.go
  decryptor/postgresql/pg_hex_decryptor.go
  decryptor/postgresql/proxy.go
  examples/golang/src/example_with_zone/example_with_zone.go
  keystore/filesystem/server_keystore.go
  keystore/filesystem/server_keystore_test.go
  keystore/filesystem/translator_keystore.go
  keystore/lru/cache.go
  logging/logging.go
  network/connection_wrapper_test.go
  network/utils.go
  sqlparser/sql.go
  zone/matcher.go
  zone/matcher_pool.go
  zone/matcher_test.go
  zone/zone_id_matcher.go
  zone/zone_id_matcher_test.go
Labels: refactoring

#302 public methods to extract table aliases from query
  decryptor/postgresql/dataProcessor.go
  encryptor/config/tableSchema.go
  encryptor/queryDataEncryptor.go
  logging/log_formatters.go
  utils/dbByteArrayEncoders.go
Labels: acra-server, enhancement, refactoring

#304 fix occasionally commented censor's query capture test
  acra-censor/common/logging_logic_test.go
Labels: acra-censor

#305 return data as is on incorrect AcraStruct begin tag
  decryptor/mysql/decryptor.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
Labels: acra-server, bug

#306 little fixes of censor inaccurancies
  acra-censor/common/common.go
  acra-censor/handlers/queryignore_handler.go
Labels: acra-censor

#303 T885 Add prepared statements support to sqlparser
  sqlparser/analyzer.go
  sqlparser/analyzer_test.go
  sqlparser/ast.go
  sqlparser/ast_methods.go
  sqlparser/parse_test.go
  sqlparser/sql.go
  sqlparser/sql.y
  sqlparser/token.go
  tests/acra-censor_configs/acra-censor_blacklist.yaml
  tests/acra-censor_configs/acra-censor_whitelist.yaml
  tests/test.py
Labels: acra-censor, core, sqlparser

#307 require themis pod >= 0.10.0
  acrawriter.podspec
  examples/objc/AcraWriterUsage.xcodeproj/project.pbxproj
  examples/objc/AcraWriterUsage/AppDelegate.m
  examples/objc/Podfile
  examples/objc/Podfile.lock
Labels: acra-writer, examples, ios
