Repository cossacklabs/acra, pull requests merged in 2020-09, with the labels that each got.

#409 Improve Acra Go Report scores
  acra-censor/common/matching_logic.go
  acra-censor/common/matching_logic_test.go
  cmd/acra-keys/keys/list-keys_test.go
  cmd/acra-server/client_commands_session.go
  decryptor/binary/binary_decryptor.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/packet_handler_test.go
  decryptor/postgresql/pg_hex_decryptor.go
  encryptor/utils_test.go
  keystore/filesystem/server_keystore_test.go
  keystore/filesystem/storage.go
  keystore/v2/keystore/api/tests/key.go
  keystore/v2/keystore/api/tests/keyRing.go
  keystore/v2/keystore/api/tests/keyStore.go
  keystore/v2/keystore/filesystem/export.go
  keystore/v2/keystore/filesystem/keyStoreLoad.go
  keystore/v2/keystore/filesystem/keyStore_test.go
  keystore/v2/keystore/importV1_test.go
  keystore/v2/keystore/keyRingUtils.go
  keystore/v2/keystore/signature/notary_test.go
  logging/log_formatters.go
  logging/logging.go
  network/connection_metadata.go
  network/connection_wrapper.go
  network/trace.go
  sqlparser/dependency/sqltypes/bind_variables_test.go
  sqlparser/dependency/sqltypes/plan_value.go
  sqlparser/dependency/sqltypes/value.go
  sqlparser/parse_test.go
  zone/zone_id_matcher_test.go
Labels: bug, refactoring

#408 Generate keys with "acra-keys generate"
  cmd/acra-keys/acra-keys.go
  cmd/acra-keys/keys/command-line.go
  cmd/acra-keys/keys/generate.go
  configs/acra-keys.yaml
  keystore/filesystem/server_keystore.go
  keystore/v2/keystore/poison.go
  keystore/v2/keystore/webConfig.go
Labels: enhancement, key-management

#412 Fix Go 1.15 regression in keystore tests
  keystore/v2/keystore/api/tests/keyStore.go
Labels: key-management, tests

#411 Unify key ID paths in "acra-keys"
  cmd/acra-keys/keys/command-line.go
  cmd/acra-keys/keys/destroy-key.go
  cmd/acra-keys/keys/read-key.go
  configs/acra-keys.yaml
  tests/test.py
  tests/utils.py
Labels: key-management, refactoring

#410 Add new linters to Acra CircleCI configuration
  .circleci/check_golint.sh
  .circleci/check_ineffassign.sh
  .circleci/check_misspell.sh
  .circleci/config.yml
  .circleci/prepare.sh
  cmd/acra-keys/keys/destroy-key.go
  cmd/acra-keys/keys/read-key.go
  cmd/utils.go
  tests/test.py
Labels: docker, infrastructure

#413 Use historical poison record keys
  cmd/acra-translator/grpc_api/api_test.go
  cmd/acra-translator/http_api/mock_keystorage.go
  decryptor/base/utils.go
  decryptor/mysql/decryptor.go
  decryptor/mysql/decryptor_test.go
  decryptor/postgresql/pg_general_decryptor.go
  keystore/filesystem/server_keystore.go
  keystore/keystore.go
  keystore/v2/keystore/poison.go
  zone/zone_id_matcher_test.go
Labels: acra-server, key-management

#415 Move AcraServer common files into "common" package
  cmd/acra-server/acra-server.go
  cmd/acra-server/common/client_commands_session.go
  cmd/acra-server/common/client_session.go
  cmd/acra-server/common/config.go
  cmd/acra-server/common/listener.go
  cmd/acra-server/common/prometheus.go
  cmd/utils.go
Labels: acra-server, refactoring

#417 Fix Go 1.15 support with new test certificates
  .circleci/config.yml
  tests/ssl/acra-server/acra-server.crt
  tests/ssl/acra-server/acra-server.key
  tests/ssl/acra-writer/acra-writer.crt
  tests/ssl/acra-writer/acra-writer.key
  tests/ssl/ca/ca.crt
  tests/ssl/ca/ca.key
  tests/ssl/generate_tls_keys.sh
  tests/ssl/mysql/mysql.crt
  tests/ssl/mysql/mysql.key
  tests/ssl/openssl.cnf
  tests/ssl/postgresql/postgresql.crt
  tests/ssl/postgresql/postgresql.key
Labels: acra-server, infrastructure, tests

#414 AcraTranslator refactoring: service start up and shutdown, signals listener
  .circleci/config.yml
  cmd/acra-translator/acra-translator.go
  cmd/acra-translator/common/network.go
  cmd/acra-translator/server/server.go
  go.mod
  go.sum
  logging/event_codes.go
  network/utils.go
Labels: acra-translator, enhancement, refactoring

#416 Merge PostgreSQL decryptor changes from Acra EE
  decryptor/postgresql/pg_decryptor.go
Labels: acra-server, postgresql, refactoring

#419 Separate TLS config for AcraConnector and DB
  CHANGELOG_DEV.md
  cmd/acra-server/acra-server.go
  configs/acra-server.yaml
  decryptor/base/proxy.go
  decryptor/mysql/proxy.go
  decryptor/mysql/proxy_test.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/proxy.go
  decryptor/postgresql/proxy_test.go
Labels: acra-server, enhancement
