Repository cossacklabs/acra, pull requests merged in 2020-06, with the labels that each got.

#378 acra-keys export & import subcommands
  cmd/acra-keys/acra-keys.go
  cmd/acra-keys/keys/command-line.go
  cmd/acra-keys/keys/export.go
  cmd/acra-keys/keys/keystore.go
  keystore/v2/keystore/api/keyStore.go
  keystore/v2/keystore/api/tests/keyStore.go
  keystore/v2/keystore/filesystem/keyStore.go
  keystore/v2/keystore/keyStore.go
Labels: key-management

#380 Getter for log formatting hooks
  logging/log_formatters.go
  logging/logging.go
Labels: refactoring

#379 Export only public keys by default and test it
  cmd/acra-keys/keys/command-line.go
  cmd/acra-keys/keys/export.go
  keystore/v2/keystore/api/keyStore.go
  keystore/v2/keystore/api/tests/keyStore.go
  keystore/v2/keystore/filesystem/export.go
  keystore/v2/keystore/filesystem/keyStore.go
  tests/test.py
Labels: key-management, tests

#382 Merge branch 'cop'
  cmd/acra-connector/acra-connector.go
  cmd/acra-server/acra-server.go
  cmd/acra-translator/acra-translator.go
  cmd/acra-webconfig/acra-webconfig.go
  decryptor/base/dataProcessor.go
  encryptor/config/tableSchema.go
  encryptor/dataEncryptor.go
  encryptor/dataEncryptor_test.go
  logging/hooks_test.go
  logging/log_formatters.go
  logging/logging.go
  network/connection_metadata.go
  network/connection_wrapper.go
  network/trace.go
Labels: acra-connector, acra-server, acra-translator
