Repository cossacklabs/acra, pull requests merged in 2020-10, with the labels that each got.

#418 Create new Docker image for faster Acra CI tests
  .circleci/check_configs.sh
  .circleci/check_gofmt.sh
  .circleci/check_golint.sh
  .circleci/check_gotest.sh
  .circleci/check_ineffassign.sh
  .circleci/check_misspell.sh
  .circleci/check_mysql_connection.sh
  .circleci/check_postgresql_connection.sh
  .circleci/config.yml
  .circleci/integration.sh
  .circleci/prepare.sh
  Makefile
  docker/_scripts/acra-build/install_go.csums
  docker/_scripts/acra-build/install_go.sh
  docker/acra-build.dockerfile
  docker/ci-py-go-themis.dockerfile
Labels: docker, infrastructure

#420 Extract ClientSession interface
  cmd/acra-server/common/client_commands_session.go
  cmd/acra-server/common/client_session.go
  cmd/acra-server/common/listener.go
  decryptor/base/proxy.go
  decryptor/mysql/proxy.go
  decryptor/mysql/proxy_test.go
  decryptor/mysql/response_proxy.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/proxy.go
  decryptor/postgresql/proxy_test.go
Labels: acra-server, refactoring

#421 AcraServer refactoring for better shutdown control
  cmd/acra-server/acra-server.go
  cmd/acra-server/common/listener.go
Labels: acra-server, refactoring

#423 Fix Python executable path in scripts
  tests/utils.py
Labels: enhancement, tests

#422 Prepared statement and cursor registries
  cmd/acra-server/common/client_session.go
  decryptor/base/proxy.go
  decryptor/mysql/proxy_test.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/prepared_statements.go
  decryptor/postgresql/prepared_statements_test.go
  decryptor/postgresql/proxy_test.go
Labels: acra-server, prepared statements

#425 Test handling of integer data fields
  tests/encryptor_config.yaml
  tests/test.py
Labels: tests

#427 IDs for QueryDataEncryptors
  decryptor/base/observers.go
  encryptor/queryDataEncryptor.go
Labels: acra-server, logging / tracing, refactoring

#424 PgProtocolState handler
  cmd/acra-server/common/client_session.go
  decryptor/base/proxy.go
  decryptor/mysql/proxy_test.go
  decryptor/postgresql/packet_handler.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/protocol.go
  decryptor/postgresql/proxy_test.go
Labels: acra-server, prepared statements, refactoring

#426 Observe extended query protocol
  decryptor/postgresql/packet_handler.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/protocol.go
  decryptor/postgresql/utils.go
  utils/utils.go
Labels: acra-server, postgresql, prepared statements

#428 Remove FillSlice and use fast zeroization
  .circleci/check_ineffassign.sh
  acra-writer/acra-writer.go
  cmd/acra-keys/keys/list-keys.go
  cmd/acra-rotate/rotator.go
  decryptor/base/utils.go
  decryptor/binary/binary_decryptor.go
  decryptor/postgresql/pg_escape_decryptor.go
  decryptor/postgresql/pg_hex_decryptor.go
  keystore/filesystem/server_keystore.go
  keystore/lru/cache.go
  keystore/utils.go
  keystore/v2/keystore/filesystem/export.go
  keystore/v2/keystore/storage_zone.go
  utils/utils.go
Labels: refactoring

#429 Transparent encryption of prepared statement parameters
  decryptor/base/observers.go
  decryptor/postgresql/packet_handler.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/utils.go
  encryptor/queryDataEncryptor.go
  tests/test.py
Labels: acra-server, enhancement, postgresql, prepared statements, tests

#430 Basic support of text format for parameters
  encryptor/queryDataEncryptor.go
  tests/test.py
Labels: acra-server, postgresql, prepared statements
