Repository cossacklabs/acra, pull requests merged in 2020-04, with the labels that each got.

#365 Protect key store flock with sync.Mutex
  keystore/v2/keystore/filesystem/backend/api/backend.go
  keystore/v2/keystore/filesystem/backend/api/tests/backend.go
  keystore/v2/keystore/filesystem/backend/file_lock.go
  keystore/v2/keystore/filesystem/backend/filesystem.go
  keystore/v2/keystore/filesystem/backend/memory.go
  keystore/v2/keystore/filesystem/keyStoreLoad.go
Labels: key-management

#369 Forbid v2 master keys to be the same
  keystore/v2/keystore/crypto.go
  tests/test.py
Labels: key-management, security

#370 Technical changes in logging customization
  cmd/acra-connector/acra-connector.go
  cmd/acra-server/acra-server.go
  cmd/acra-translator/acra-translator.go
  cmd/acra-webconfig/acra-webconfig.go
  logging/hooks_test.go
  logging/log_formatters.go
  logging/logging.go
Labels: logging / tracing

#371 Test key removal in key store v2
  cmd/acra-key-tool/acra-key-tool.go
  configs/acra-key-tool.yaml
  keystore/filesystem/server_keystore.go
  keystore/keystore.go
  keystore/v2/keystore/api/key.go
  keystore/v2/keystore/api/keyRing.go
  keystore/v2/keystore/api/tests/keyRing.go
  keystore/v2/keystore/filesystem/key.go
  keystore/v2/keystore/filesystem/keyRing.go
  keystore/v2/keystore/filesystem/keyRingTX.go
  keystore/v2/keystore/keyRingUtils.go
  keystore/v2/keystore/transport_connector.go
  keystore/v2/keystore/transport_server.go
  keystore/v2/keystore/transport_translator.go
  tests/test.py
  tests/utils.py
Labels: key-management, tests

#374 Key management multi-tool: "acra-keys"
  cmd/acra-key-tool/acra-key-tool.go
  cmd/acra-keys/acra-keys.go
  cmd/acra-keys/keys/command-line.go
  cmd/acra-keys/keys/destroy-key.go
  cmd/acra-keys/keys/keystore.go
  cmd/acra-keys/keys/read-key.go
  cmd/utils.go
  configs/acra-keys.yaml
  tests/test.py
  tests/utils.py
Labels: key-management

#375 Support storage key rotation
  cmd/acra-rollback/acra-rollback.go
  cmd/acra-rotate/rotator.go
  cmd/acra-translator/grpc_api/decryptor.go
  cmd/acra-translator/http_api/decryptor.go
  decryptor/base/dataProcessor.go
  decryptor/base/decryptor.go
  decryptor/binary/binary_decryptor.go
  decryptor/mysql/decryptor.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/pg_general_decryptor.go
  decryptor/postgresql/pg_hex_decryptor.go
  decryptor/postgresql/proxy_test.go
  keystore/filesystem/server_keystore.go
  tests/requirements.txt
  tests/test.py
  utils/utils.go
Labels: acra-rollback, acra-rotate, acra-server, tests
