Repository cossacklabs/acra, pull requests merged in 2020-02, with the labels that each got.

#348 encryption api for acra-translator
  .circleci/check_golint.sh
  cmd/acra-rotate/rotator.go
  cmd/acra-translator/common/common.go
  cmd/acra-translator/grpc_api/api.pb.go
  cmd/acra-translator/grpc_api/api.proto
  cmd/acra-translator/grpc_api/api_test.go
  cmd/acra-translator/grpc_api/decryptor.go
  cmd/acra-translator/http_api/decryptor.go
  cmd/acra-translator/http_api/decryptor_test.go
  cmd/acra-translator/http_api/mock_keystorage.go
  cmd/acra-translator/server.go
  decryptor/base/prometheus.go
  logging/event_codes.go
  tests/api_pb2.py
  tests/api_pb2_grpc.py
  tests/requirements.txt
  tests/test.py
  tests/utils.py
Labels: acra-translator

#349 Update golang version for docker image builds
  docker/acra-build.dockerfile
Labels: docker, infrastructure

#350 Fix themis dependency in the docker image
  docker/acra-build.dockerfile
Labels: docker, infrastructure

#346 refactor data serialization
  .circleci/check_golint.sh
  cmd/acra-server/acra-server.go
  configs/acra-server.yaml
  decryptor/base/decryptionNotification.go
  decryptor/base/decryptor.go
  decryptor/base/utils.go
  decryptor/mysql/decryptor.go
  decryptor/mysql/decryptorFactory.go
  decryptor/postgresql/dataProcessor.go
  decryptor/postgresql/decryptorFactory.go
  decryptor/postgresql/packet_handler.go
  decryptor/postgresql/pg_decryptor.go
  decryptor/postgresql/pg_general_decryptor.go
  decryptor/postgresql/proxy.go
  decryptor/postgresql/proxy_test.go
  encryptor/dbDataCoder.go
  encryptor/dbDataCoder_test.go
  encryptor/queryDataEncryptor.go
  encryptor/queryDataEncryptor_test.go
  encryptor/tableSchema.go
  sqlparser/ast.go
  tests/test.py
  utils/dbByteArrayEncoders.go
  zone/byte_reader_pg_escape.go
  zone/byte_reader_pg_hex.go
  zone/matcher.go
  zone/matcher_test.go
  zone/zone_id_matcher_test.go
Labels: acra-server, core, enhancement, postgresql

#351 Added CCPA mention to README.md
  README.md
Labels: docs
