Repository cossacklabs/acra, pull requests merged in 2022-08, with the labels that each got.

#556 Use kms per client
  CHANGELOG_DEV.md
  cmd/acra-addzone/acra-addzone.go
  cmd/acra-backup/acra-backup.go
  cmd/acra-keymaker/acra-keymaker.go
  cmd/acra-keys/keys/generate.go
  cmd/acra-keys/keys/keystore.go
  cmd/acra-keys/keys/migrate-keys.go
  cmd/acra-poisonrecordmaker/acra-poisonrecordmaker.go
  cmd/acra-rollback/acra-rollback.go
  cmd/acra-rotate/acra-rotate.go
  cmd/acra-server/acra-server.go
  cmd/acra-translator/acra-translator.go
  configs/acra-addzone.yaml
  configs/acra-backup.yaml
  configs/acra-keymaker.yaml
  configs/acra-keys.yaml
  configs/acra-poisonrecordmaker.yaml
  configs/acra-rollback.yaml
  configs/acra-rotate.yaml
  configs/acra-server.yaml
  configs/acra-translator.yaml
  keystore/filesystem/filesystem_backup.go
  keystore/filesystem/key_export.go
  keystore/filesystem/server_keystore.go
  keystore/filesystem/server_keystore_test.go
  keystore/filesystem/translator_keystore.go
  keystore/keyloader/env_loader.go
  keystore/keyloader/hashicorp/vault_cli.go
  keystore/keyloader/hashicorp/vault_loader.go
  keystore/keyloader/keyloader.go
  keystore/keyloader/keyloader_cli.go
  keystore/keyloader/kms/kms_cli.go
  keystore/keystore.go
  keystore/kms/aws/client.go
  keystore/kms/key_encryptor.go
  keystore/kms/key_making_wrapper.go
  keystore/v2/keystore/filesystem/export.go
  keystore/v2/keystore/filesystem/keyStore.go
  keystore/v2/keystore/importV1.go
  tests/test.py
Labels: tests, cloud, acra-rollback, acra-poison_records_maker, acra-server, acra-translator, acra-rotate, acra-keymaker

#557 Fix sighup handler [T2625]
  CHANGELOG_DEV.md
  cmd/acra-server/acra-server.go
  cmd/acra-translator/acra-translator.go
  tests/test.py
  tests/utils.py
Labels: bug, enhancement, tests, acra-server, acra-translator

#567 build: update `go` directive in `go.mod` to 1.17
  CHANGELOG_DEV.md
  go.mod
  go.sum
Labels: infrastructure
