Repository cossacklabs/acra, pull requests merged in 2022-02, with the labels that each got.

#487 Don't log failure decryption [T2439, T2443]
  .circleci/build_binaries.sh
  .circleci/config.yml
  .circleci/integration.sh
  CHANGELOG_DEV.md
  acrablock/acrablock.go
  acrablock/processors.go
  acrablock/processors_test.go
  cmd/acra-translator/common/service.go
  configs/regenerate.sh
  crypto/acrablock.go
  crypto/acrastruct.go
  crypto/decryptor.go
  crypto/envelope_detector.go
  crypto/registry_handler.go
  decryptor/base/observers.go
  decryptor/mysql/proxy.go
  decryptor/postgresql/proxy.go
  hmac/dataProcessor.go
  keystore/filesystem/error_check.go
  keystore/filesystem/error_check_go15.go
  keystore/filesystem/key_names.go
  poison/callbacks.go
  tests/Readme.md
  tests/generate_random_data.py
  tests/test.py
  tests/utils.py
Labels: enhancement, acra-server, performance

#488 Fix race conditions
  CHANGELOG_DEV.md
  cmd/acra-server/common/listener.go
  cmd/utils.go
Labels: enhancement, acra-server

#490 Avoid extra key fetching on hash check
  CHANGELOG_DEV.md
  crypto/matcher.go
  crypto/matcher_test.go
  hmac/dataProcessor.go
  keystore/generate.go
  keystore/mocks/ServerKeyStore.go
  keystore/mocks/TranslationKeyStore.go
Labels: enhancement, acra-server, acra-translator, performance

#489 Cache symmetric keys in same way as asymmetric
  CHANGELOG_DEV.md
  keystore/filesystem/server_keystore.go
  keystore/filesystem/server_keystore_test.go
Labels: enhancement, acra-server, acra-translator, performance

#496 Extend Keystore interface
  .circleci/check_golint.sh
  CHANGELOG_DEV.md
  acrablock/dataEncryptor_test.go
  cmd/acra-translator/docs/docs.go
  cmd/acra-translator/grpc_api/api_test.go
  crypto/poison_detector.go
  go.mod
  go.sum
  keystore/filesystem/server_keystore.go
  keystore/filesystem/server_keystore_test.go
  keystore/keystore.go
  keystore/mocks/ServerKeyStore.go
  keystore/mocks/TranslationKeyStore.go
  keystore/v2/keystore/poison.go
  keystore/v2/keystore/storage.go
  poison/poison.go
  poison/poison_test.go
  pseudonymization/storage/storageTokenEncryptor_test.go
  sqlparser/sql.go
Labels: enhancement, performance

#506 Test : regenerate SSL certificate for postgresql
  tests/ssl/ca/index.txt
  tests/ssl/ca/index.txt.attr
  tests/ssl/postgresql/postgresql.crt
  tests/ssl/postgresql/postgresql.key
Labels: infrastructure
